.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}
.container-fluid{
    padding:0px;
}
/*.la{
    text-transform: capitalize;
    font-weight: 900;
    color: white;
    background-color: #9f80d682;
} */
.a1{
    margin-bottom: 10px;
}
.fr{
    background-color: #e6e4e400;
    margin:auto;
}
.fr1{
    background-color: #fcf8ff;
}
.le{
    font-size: large;
}
.ab{
    color: floralwhite;
}
.g{
    margin-left: auto;
    background-color: white;
}
/*.in .le{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
     -o-filter: blur(1px);
     -ms-filter: blur(1px);
     filter: blur(1px);
     
}
.in .la{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
     -o-filter: blur(0px);
     -ms-filter: blur(0px);
     filter: blur(0px);
}*/

/* Hide the overlay /
.la {
    z-index: -1;
 }
 
 /* Hover on card, blur the image /
 .in:hover > .le{
     filter: blur(5px) grayscale(1);
 }
 
 /* Hover on card, show the text by increasing z-index /
 .in:hover > .la {
   z-index: 1;
 }*/
